name: Update README

on:
  schedule:
    - cron: "* */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Update Profile README

    steps:
      - uses: Readme-Workflows/recent-activity@v2.4.1
      env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        CONFIG_FILE: ""  # Desactiva la búsqueda del archivo de configuración
        COMMIT_MSG: "⚡ Update README with recent activity"
        MAX_LINES: 5
